services:
  numployable.database:
    image: postgres:latest
    container_name: numployable.database
    environment:
      - POSTGRES_DB=numployable
      - POSTGRES_USER=numployable
      - POSTGRES_PASSWORD=password1!
      - PGDATA=/var/lib/postgresql/data/db-files/
    volumes:
      - ./.pgdata/database:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - 5432:5432
    networks:
      - numployable-network

  numployable.api:
    image: ${DOCKER_REGISTRY-}numployable.api
    container_name: numployable.api
    build:
      context: ../src
      dockerfile: ../src/API/API/Dockerfile
    expose:
      - 5093
    ports:
      - "5093:8080"

  numployable.web:
    image: ${DOCKER_REGISTRY-}numployable.web
    container_name: numployable.web
    build:
      context: ../src
      dockerfile: ../src/UI/Web/Dockerfile
    expose:
      - 5055
    ports:
      - "5055:8080"

networks:
  numployable-network:
    driver: bridge